body {
  background: no-repeat center/100% #907cff;
  background-image: linear-gradient(
    to bottom,
    #423399 0%,
    rgb(166, 89, 153) 60%,
    hsl(44, 50%, 75%) 100%
  );
  background-attachment: fixed;
  font-family: "Source Code Pro", monospace;
  color: white;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 64px;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  margin: 0px;
  line-height: 96px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 0px;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  margin: 0px;
}

footer {
  color: rgb(113, 35, 104);
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  color: #423399;
}

a:hover {
  background-color: rgba(113, 35, 104, 0.2);
}

header form {
  margin: 0px auto;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus {
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
}

.bold {
  font-weight: 700;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description p {
  margin: 0px;
}

.current-emoji {
  font-size: 164px;
  margin: 0px;
}

.logo {
  font-family: "Shadows Into Light", cursive;
  font-size: 80px;
  opacity: 20%;
  margin: 0px 0px 24px 0px;
  text-align: center;
}

.current,
.forecast {
  display: flex;
  align-items: center;
  width: 100%;
}

.current {
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.forecast {
  justify-content: space-around;
  flex-wrap: wrap;
}

.current-temperature,
.current-location {
  margin: 24px 0px;
}

.current-details div {
  margin: 24px 0px;
}

.current-temperature {
  display: flex;
}

.current-location p,
.current-details p {
  margin: 0;
}

.forecast div {
  padding: 24px;
}

.forecast-card-today {
  background-color: rgba(113, 35, 104, 0.2);
}

.search-input {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 16px;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}

.search-input:hover {
  background-color: rgba(113, 35, 104, 0.2);
}

.search-input:focus-visible {
  background-color: rgba(113, 35, 104, 0.2);
}

.search-button {
  background-color: rgb(113, 35, 104);
  border: 1px solid rgb(113, 35, 104);
  color: white;
  padding: 16px;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}

.search-button:hover {
  background-color: rgba(113, 35, 104, 0.8);
}
